<%- include('bootheader') -%>
<%- include('menubar') -%>

<!-- convertedResult.ejs -- page renders result from convertMeasures and links back to form.ejs -->

    <div class="jumbotron">
        <h4> Conversion Result</h4>
        </div>
        Result: <%= type1amount %> <%= type1 %> is <%= result %> <%= type2 %>

        <hr>
        <a href="/form">Convert something else!</a>



<%- include('bootfooter') -%>
